.greeting {
    text-align: center;
  }
  
#formulario {
    display: flex;
    padding: 10px;
    border: 5px solid #31261c;
    margin: 20px;
    justify-content: space-around;
    flex-direction: row;
}
  
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
  
.column {
    flex: 1;
    padding: 10px;
    flex-grow: 4;
}
  
@media (max-width: 650px) {
    .column {
      flex: 100%;
    }
}
  
body {
    background-color: #b8b19e88;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
h1 {
    font-size: 30px;
    text-align: center;
    color: #31261c;
}
  
p {
    color: #31261c;
    font-size: 20px;
}
  
#sub1 {
    color: #31261c;
}
  
.sub2 {
    color: #31261c;
}
  
.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: #31261c;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.brand {
    display: flex;
    align-items: center;
}
  
li > a {
    padding: 8px 24px;
}
  
li {
    list-style-type: none;
}
  
a {
    color: #b8b2a3d3;
    text-decoration: none;
}
  
.nav-links {
    display: flex;
    align-items: center;
}
  
.button-menu-toggle {
    display: none;
}
  
@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
    .nav-links {
      display: none;
    }
  
    .button-menu-toggle {
      display: block;
      background-color: #b8b2a3d3;
      border: none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
  
    .nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: #31261c;
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap: 70px;
      font-size: 40px;
    }
    iframe {
        width: 90%;
        height: auto;
    }
}

.imagenes-about{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.imagenes-about>div>img {
    width: 70%;
}
footer {
    display: flex;
    justify-content: center;
} 
iframe {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
div>ul>li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color:#31261c;
}
div>ul>li>img {
    display: flex;
    width: 70%;
    margin: 10%;
}